<!-- Messages on empty -->
<% if !@friends.any? %>
	<% if @self %>
		<h5 class="text-center text-muted">You don't have any friends yet.</h5>
	<% else %>
	<h5 class="text-center text-muted"><%= @user.first_name %> doesn't have any friends yet. Send them a request!</h5>
	<% end %>
<% end %>

<!-- Main friend list (limit 6) -->
<% @friends.first(6).each do |friend| %>
	<div class="col-xs-4 friend-box text-center">
		<%=  image_tag "default_profile.png", class: "img-responsive img-thumbnail" %><br>
		<span class="h5"><a href="/users/<%= friend.id %>" class="text-primary"><%= friend.first_name %></a></span><br>
		<span class="h5"><a href="/users/<%= friend.id %>" class="text-primary"><%= friend.last_name %></a></span>
	</div>
<% end %>

<!-- Modal friend list (full) -->
<% if @friends.count(:id) > 6 %>
	<!-- Button trigger modal -->
	<p class="text-center modal-toggle"><a href="#" data-toggle="modal" data-target="#myModal">View all...</a></p>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-body">
				<% @friends.each do |friend| %>
					<div class="col-xs-4 friend-box text-center">
						<%=  image_tag "default_profile.png", class: "img-responsive img-thumbnail" %><br>
						<a class="text-white" href="/users/<%= friend.id %>"><%= friend.full_name %></a>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
