<% if @current_user.notifications.empty? %>
	<li class="text-center">No notifications at this time</li>
<% else %>
	<% @current_user.notifications.each do |notification| %>
		<li class="notification-box">
			<p><a class="text-primary" href="/users/<%= notification.sender.id %>"><%= notification.sender.full_name %></a> <%= notification.content %></p>

			<% if notification.request == 'friendships' %>
				<form action="/friendships" method="post">
					<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
					<input type="hidden" name="friendship[user_id]" value="<%= notification.sender.id %>">
					<input class="btn btn-primary form-control" type="submit" value="Accept">
				</form>
			<% end %>

			<%= link_to 'Delete', notification, class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %>
		</li>

		<li class="divider"></li>
	<% end %>
<% end %>